data/*
src/dataloader/evolving_state.txt
src/dataloader/imu_measurements.txt
src/dataloader/my_timestamps_p.txt
src/dataloader/_*
src/utils/_*
src/scripts/tlio/_*
src/params/dataloader_params_giovanni.yaml
results/
src/network/_*
src/tracker/__pycache__/
